@charset "ISO-8859-1";
body,
html{
    
}
#contenedor{
    display: flex;
    text-align: center;
    height: 86%;
    background-color: #00c853  ;
}

#izquierdo{
    width: 18%;
    margin-left: 1%;
    margin-right: 1%;
}

#centro{
    width: 78%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

#tabla{
    text-align: center;
}